<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>{{title}}</title>
  <link rel="icon" type="image/png" href = "{{url_for('static',filename='img/logo.jpg')}}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href = "{{url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}" >
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  <link rel="stylesheet" href = "{{url_for('static',filename='css/style.css')}}" >
  <!-- <link rel="stylesheet" href="css/sample.css"> -->
</head>

<body>
  <!-- nav part -->
  <nav class="sd-top sd-left">

    <ul class="sd-nav black sd-nav-h col">
      <li class="l2 s1"><a href="#" class="text-lightgrey large hover-lightgrey"><i class="fas fa-poll margin-right"></i><span class="hide-medium hide-small">Movie Polls</span></a></li>
      <li class="nav-title l8 s1 hide-small"><a class="text-lightgrey large" id="nav-title-a"><span class="title-font">Get Movie Polls Here!</span></a></li>
      <li class="sd-right"><a href="/login" class="text-lightgrey large hover-lightgrey "><i class="fa fa-user" id="nav-user"></i></a></li>
    </ul>
  </nav>
  <br><br>

  {% block content %}{% endblock %}


  <!-- footer part -->
  <footer class="black sd-bottom sd-left center-align padding-footer">
    <p>Students from <a href="https://uwa.edu.au" class="text-lightgrey" target="_blank">UWA</a></p>
  </footer>

  <script src="static/js/carousel.js" charset="utf-8"></script>
  <script src="static/js/shared_part.js" charset="utf-8"></script>

</body>

</html>
