{% extends "base.html"%}

{% block content %}

  <!-- Add movies Part -->
  <div class="center-align form-content">
    <header class="lv1title" id="new-poll-lv1title"><b>New Poll</b></header>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>Add New Movie Poll Now!</h3>
              <p>Please fill in the blanks below:</p>
            </div>
            <div class="form-top-right">
              <i class="fas fa-grin-alt"></i>
            </div>
          </div>
          <div class="form-bottom">

            <div class="form-group">
              <label for="form-username">Enter Pollname(No speical signs are accepted)</label>
              <input type="text" id="poll_name" placeholder="Poll name..." class="form-control">
            </div>

            <div class="form-group">
              <label for=>Description(No speical signs are accepted)</label>
              <input type="text"  id="poll_description" size= "200" placeholder="Description" class="form-control">
            </div>

            <button id="Add"<strong>Click to add an option</strong></button> <button id="Remove">Click to remove an option</button>
            <br><br>New Option :<input class='poll-option form-control' type='text' placeholder='New Option'/>
            <div id="textboxDiv">
            </div>


            <br />Movie catergory:
             <select name="catergories" id="category">
               <option value="Romantic Movie">Romantic Movie</option>
               <option value="Horror Movie">Horror Movie</option>
               <option value="Fiction Movie">Fiction Movie</option>
               <option value="Documentary Movie">Documentary Movie</option>
               <option value="Comedy Movie">Comedy Movie</option>
               <option value="Action Movie">Action Movie</option>
             </select>

                <!-- </div> -->
              <br>
              <a id="submit_btn" onclick="create_movie_poll()" type="submit" class="button lightBlue full-width hover-text-lightgrey"><i class="fas fa-pencil-alt margin-right-8"></i>Submit Now!</a>
            	<div id="errorAlert" class="alert alert-danger non-display" role="alert" ></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% endblock %}
