{% extends "base.html"%}

{% block content %}

  <!-- Add movies Part -->
  <div class="center-align login-content">
    <header class="lv1title" id="reg-lv1title"><b>New Poll</b></header>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>Add New Movie Poll Now!</h3>
              <p>Please fill in the blanks below:</p>
            </div>
            <div class="form-top-right">
              <i class="fas fa-grin-alt"></i>
            </div>
          </div>
          <div class="form-bottom">

            <div class="form-group">
              <label for="form-username">Enter Pollname</label>
              <input type="text" id="poll_name" placeholder="Poll name..." class="form-control">
            </div>

            <button id="Add"<strong>Click to add movie</strong></button> <button id="Remove">Click to remove movie</button>
            <br><br>New Movie :<input class='poll-option form-control' type='text' placeholder='New Option'/>
            <div id="textboxDiv">
            </div>


            <br />Movie catergory:
             <select name="catergories" id="category">
               <option value="Romantic">Romantic</option>
               <option value="Horror">Horror</option>
               <option value="Fiction">Fiction</option>
               <option value="Documentary">Documentary</option>
               <option value="Comedy">Comedy</option>
               <option value="Action">Action</option>
             </select>

                <!-- </div> -->
              <br>
              <button id="submit_btn" type="submit" onclick="display()" class="button lightred full-width"><i class="fas fa-pencil-alt margin-right-8"></i>Submit Now!</button>
            	<div id="errorAlert" class="alert alert-danger non-display" role="alert" ></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script>
      $(document).ready(function() {
          $("#Add").on("click", function() {
              $("#textboxDiv").append("<div><br>New Movie :<input class='poll-option form-control' type='text' placeholder='New Option'/></div>");
          });
          $("#Remove").on("click", function() {
              $("#textboxDiv").children().last().remove();
          });

          $("#submit_btn").on("click",function(event){
            var poll_name = $("#poll_name").val();
            var options = document.getElementsByClassName('poll-option');
            var category = $("#category").val();
            var options_list =[];
            for (var i=0; i<options.length;i++){
              options_list.push(options[i].value);
            }
            var options_string = options_list.join(',');

            $.ajax({
        			data : {
        				poll_name : poll_name,
        				options: options_string,
                category:category
        			},
        			type : 'POST',
        			url : '/create_poll_submit'
        		})
        		.done(function(data) {

        			if (data.error) {
        				$('#errorAlert').text(data.error).show();
        			}
        		});

        		event.preventDefault();
          })
      });
  </script>
