{% extends "base.html"%}

{% block content %}


<!-- Form Part -->
<div class="center-align form-content outer" id="register-part">
  <div class="container">
    <header class="lv1title" id="deletePoll-lv1title"><b>Delete Poll</b></header>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
          <div class="form-top-left">
            <h3>Delete Poll</h3>
            <p>Please choose the polls you want to delete</p>
          </div>
          <div class="form-top-right">
            <i class="fas fa-eraser"></i>
          </div>
        </div>
        <div class="form-bottom">
          {% with messages = get_flashed_messages() %}
           {% if messages %}
          <div class="center-align success">
            {% for message in messages %}
              {{ message }}<br />
            {% endfor %}

          </div>
          {% endif %}
         {% endwith %}
          <form role="form" action="" method="post" class="login-form">
            <div class="form-group">
              {{poll_form.hidden_tag()}}

            <label>These are the polls in the database</label>
            <div class="form-group">
              {{poll_form.example}}
              {% for error in poll_form.example.errors %}
              <span class="alert">[{{ error }}]</span>
              {% endfor %}

            </div>

            {{poll_form.submit(size=32,class_="button purple submit_btn hover-text-lightgrey")}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
