{% extends "base.html"%}

{% block content %}

  <!-- log out confirmation part -->
  <div class="margin-top-64 padding-tb non-display" id="logout-part">
    <div class="shadow lightyellow sd-container round sd-right-8 center-align center-block">
      <button class="btn top-right" onclick="close_window(event)">x</button>
      <h4>&nbsp &nbsp Hello！<br />Do you want to sign out?</h4>
      <button type="submit" class="button lightred" onclick="sign_out(event)"><i class="fas fa-sign-in-alt margin-right-8"></i>Sign out!</button>
    </div>
  </div>


  <!-- login form -->
  <div class="center-align login-content outer" id="login-part">
    <header class="lv1title"><b>LOGIN</b></header>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>Welcome Aboard!</h3>
              <p>Enter your username and password to log on:</p>
            </div>
            <div class="form-top-right">
              <i class="fas fa-film hide-small"></i>
            </div>
          </div>
          <div class="form-bottom">
            <form role="form" action="" method="post" class="login-form" id="loginForm">
              <div class="form-group">
                {{form.hidden_tag()}}
                <label class="sr-only" for="form-username">{{ form.username.label }}</label>
                <!-- <input type="text" name="form-username" placeholder="Username..." class="form-username form-control"> -->
                {{form.username(size=32,class_="form-username form-control")}}
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-password">Password</label>
                <!-- <input type="password" name="form-password" placeholder="Password..." class="form-password form-control"> -->
                {{form.password(size=32,class_="form-username form-control")}}
              </div>
              <button type="button" onclick="sign_in()" class="button green"><i class="fas fa-sign-in-alt margin-right-8" id="sign-in-btn"></i>Sign in!</button>
            </form>
            <div class="register center-align">
              <p>Don't have an account? Click here to register</p>
              <button onclick="register()" type="button" name="to-registration" class="button lightred justify-content-center" id="register-btn"><i class="fas fa-pencil-alt margin-right-8"></i>Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Registration Part -->
  <div class="center-align login-content outer non-display" id="register-part">
    <div class="container">
      <header class="lv1title" id="reg-lv1title"><b>Registration</b></header>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>Sign Up Now!</h3>
              <p>Please fill in the blanks below:</p>
            </div>
            <div class="form-top-right">
              <i class="fas fa-user-plus hide-small"></i>
            </div>
          </div>
          <div class="form-bottom">
            <form role="form" action="" method="post" class="login-form" id="registerForm">
              <div class="form-group">
                <label for="form-username">Enter Username (at least 4 characters)</label>
                <input type="text" name="username" placeholder="Please type in your username" class="form-username form-control" id="form-username">
              </div>
              <div class="form-group">
                <label for="form-password">Password</label>
                <input type="password" name="password" placeholder="Please type in your password" class="form-password form-control" id="form-password">
              </div>
              <div class="form-group">
                <label for="form-confirm-password">Confirm_Password</label>
                <input type="password" name="confirm-password" placeholder="Please type in your password again" class="form-password form-control">
              </div>
              <div class="form-group">
                <label for="form-email">Email Address</label>
                <input type="email" id="id-form-email" name="email" placeholder="Please type in your email address" class="form-control">
              </div>

              <label>Preference (at least 1 choice)</label>
              <div class="checkbox">
                <label><input type="checkbox" value="Romantic Movie">Romantic Movie</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="Horror Movie">Horror Movie</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="Fiction Movie">Fiction Movie</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="Documentary Movie">Documentary Movie</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="Comedy Movie">Comedy Movie</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="Action Movie">Action Movie</label>
              </div>

              <button type="button" onclick="finish_register()" class="button lightred"><i class="fas fa-pencil-alt margin-right-8"></i>Register Now!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
