{% extends "base.html"%}

{% block content %}


<!-- Form Part -->
{% if current_user.administrator%}
<div class="center-align login-content outer form-content">
{% else %}
<div class="center-align login-content outer">
{% endif %}
  <div class="container">
    <header class="lv1title" id="reg-lv1title"><b>{{poll_name}}</b></header>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
          <div class="form-top-left">
            <h4>{{poll_name}}</h4>
            <p>{{description}}</p>
          </div>
          <div class="form-top-right">
            <i class="fas fa-vote-yea"></i>
          </div>
        </div>
        <div class="form-bottom">
          <form role="form" action="" method="post" class="login-form">
            <div class="form-group">
              {{option_form.hidden_tag()}}

            <label>Here are the options available</label>
            <div class="form-group">
              {{option_form.example}}
              {% for error in option_form.example.errors %}
              <span class="alert">[{{ error }}]</span>
              {% endfor %}

            </div>
            {% if behaviour%}
              <a class="button lightred justify-content-center hover-text-lightgrey full-width"><i class="fas fa-star margin-right-8"></i>Voted</a>
              <p class="center-align">You voted for {{behaviour_option}}</p>
            {% else %}
            {{option_form.submit(size=32,class_="button lightred submit_btn hover-text-lightgrey")}}
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Plotting Part -->
<div class="content canvas non-display" id="canvas-part">
  <canvas id="bar-chart" class="hide-small"></canvas>
  <br />
  <canvas id="pieChart" width="800" height="450" class="hide-small"></canvas>
</div>

<script type="text/javascript">
  var label = '{{labels}}'.split(',');
  var values = '{{values}}'.split(',');
  for (i=0;i<values.length;i++){
    values[i] = parseInt(values[i]);
  }
  var title = '{{poll_name}}';

  var combine = [];
  for (var i=0;i<label.length;i++){
    var ele = [];
    ele.push(label[i]);
    ele.push(values[i]);
    combine.push(ele);
  }

  combine.sort(function(a, b){return b[1]-a[1]});

  label = [];
  values=[];


  for (i=0;i<combine.length;i++){
    label.push(combine[i][0]);
    values.push(combine[i][1]);
  }
  var max_value = values[0];
  var canvas_part = document.getElementById("canvas-part");
  if(max_value>0){
    canvas_part.style.display="block";
  }
</script>
{% endblock %}
